<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SnapBack - Login</title>
</head>
<body>
    <h2>Login</h2>
    
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    
    <form method="post">
        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>
        
        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>
        
        <input type="submit" value="Login">
    </form>
</body>
</html>
